/* static/css/core.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:var(--font);
background:
radial-gradient(circle at top right, rgba(37,99,235,.10), transparent 28%),
radial-gradient(circle at bottom left, rgba(59,130,246,.10), transparent 25%),
linear-gradient(180deg,var(--bg1),var(--bg2));
color:var(--text);
line-height:1.6;
font-size:15px;
min-height: 100vh;
}

img{
max-width:100%;
display:block;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

h1,h2,h3,h4{
font-weight:800;
line-height:1.2;
}

p{
color:var(--muted);
}